:root {
    --colorPrimario: #ffffff;
    --colorSecundario: rgb(17, 17, 17);
    
    --fuentePrincipal: 'Krub', sans-serif;
}

html {
    font-size: 62.5%;

    /*Este codigo va a solicionar los problemas del BoxModel*/
    box-sizing: border-box;

    /*
    Estamos definiendo el scroll en nuetra pagina web, en el eje de las Y,
    es decir, scroll de forma vertical, podemos hacer el caso contrario en el
    eje de la X, para realizar scroll horizontal

    el valor de "madatory" nos ayuda a hacer scroll, de una forma mas rapida,
    tambien podemos emplear el valor de "proximity", esto hara que el scroll sea mas lento.
    */
    scroll-snap-type: y mandatory;
}

/*
Empleado el selector Universal
- Hack para solucionar los problemas del BoxModel
*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 10px = 1rem*/
    background-image: url("../assets/images/bg-bank.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}

h2 {
    font-family: var(--fuentePrincipal);
    font-size: 3.2rem;
}

p {
    margin-top: 0.5rem;
    font-family: var(--fuentePrincipal);
}

/*Agregando estilos al formulario*/
.formulario {
    background-color: rgba(0,0,0, .5);
    width: 50rem;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--colorPrimario);
}


/*Ajustanlo el acomodo de los campos*/
.contenedor-campos {
    flex-direction: column;
    justify-content: center;
}

/*Agregando estilos a las etiquetas*/
.etiqueta {
    font-family: var(--fuentePrincipal);
    font-size: 400;
    color: var(--colorPrimario)
}

/*Agregando estilos a los campos*/
.campo {
    display: block;
    background-color: transparent;

    width: 100%;

   
    
    /*Tipografia de los campos*/
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    color: #ffffff;

    /*Estilizando los bordes y retirando el otline*/
    border: none;
    border-bottom: 0.1rem solid var(--colorPrimario);
    outline: none;
}

/*Estilizando la lista desplegable*/
.cuenta {
    background-color: rgb(0,0,0);
    font-weight: 400;
    font-size: 1.8rem;
}


/*Agregando Fondo a los iconos*/
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;

    justify-content: baseline;
    align-items: center;
    
}

/*Acomodando elementos en la rejilla*/
.campo {
    grid-column: 2 / 3;
    align-self: end;
}
.icon1 {
    grid-row: 2 / 3;
}
.cuentas {
    grid-row: 2 / 3;
}

.icon2 {
    grid-row: 4 / 5;
}
.password {
    grid-row: 4/5;
}

.e1{
    grid-row: 1 / 2;
}

.e2 {
    grid-row: 3 / 4;
}



/*Estilizando el boton de sig in*/
.sign-in {
    color: var(--colorPrimario);
    background-color: #1b263b;
    font-family: var(--fuentePrincipal);
    font-weight: bold;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    padding: 1rem 3rem;
    border-radius: 0.5rem;
    width: 90%;
    height: 5rem;
    margin: 1rem auto;

    border: none;
}

.sign-in:hover {
    color: #fb8b24;
    transition:  color 0.5s ease-in-out;
}

/*Centrado el Log in*/
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#warning {
    color: #ffffff;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

